@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --app-bg: #F3F1EC;
}

body {
  background-color: var(--app-bg);
  font-family: 'Inter', sans-serif;
}
